/* Top Section */
.topSection {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0;
}

.topContent {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa tag */
}

/* Tag "Về NewEra Inc." */
.tagContainer {
  /* position: relative;
  z-index: 1; */
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: rgba(23, 61, 201, 0.20);
  border-radius: 20px; /* Pill shape */
  /* max-width: fit-content; */
  width: fit-content;
}


.tagDot {
  width: 8px;
  height: 8px;
  border-radius: 2px; /* Slightly rounded square (squircle) */
  background-color: #346AFF; /* Bright blue */
  flex-shrink: 0;
}

.tagText {
  color: #173DC9;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 130% */
  letter-spacing: 0.2px;
}

.title{
  color: var(--black, #060606);
text-align: center;

/* 3xl */
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 38px; /* 126.667% */
letter-spacing: 0.3px;
}