.titleCard{
    color: #FFF;
/* font-family: "TikTok Sans"; */
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 125% */
}

@media (min-width: 640px) {
    .titleCard {
        font-size: 24px;
        line-height: 32px;
    }
}

@media (min-width: 1024px) {
    .titleCard {
        font-size: 32px;
        line-height: 40px;
    }
}

.textCardBlue{
    color: var(--white, #FDFDFD);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 140% */
}

@media (min-width: 640px) {
    .textCardBlue {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width: 1024px) {
    .textCardBlue {
        font-size: 20px;
        line-height: 28px;
    }
}

.cardBlue{
    display: flex;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
border-radius: 16px;
background: linear-gradient(90deg, #173DC9 0%, rgba(23, 61, 201, 0.00) 100%);
backdrop-filter: blur(6px);
}

@media (min-width: 640px) {
    .cardBlue {
        padding: 20px;
        gap: 20px;
        border-radius: 20px;
    }
}

@media (min-width: 1024px) {
    .cardBlue {
        padding: 24px;
        gap: 24px;
        border-radius: 24px;
    }
}


    .socialLinks {
        color: var(--white, #FDFDFD);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 140% */
        letter-spacing: 0.2px;
        text-transform: uppercase;
    }

    @media (min-width: 640px) {
        .socialLinks {
            font-size: 16px;
            line-height: 24px;
        }
    }

    @media (min-width: 1024px) {
        .socialLinks {
            font-size: 20px;
            line-height: 28px;
        }
    }

    .cardWhite{
        padding: 16px;
        border-radius: 16px;
        background: rgba(6, 6, 6, 0.40);
        backdrop-filter: blur(6px);
        min-height: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: space-between;
    }

    @media (min-width: 640px) {
        .cardWhite {
            padding: 20px;
            gap: 20px;
            border-radius: 20px;
            min-height: 400px;
        }
    }

    @media (min-width: 1024px) {
        .cardWhite {
            padding: 24px;
            border-radius: 24px;
            min-height: 480px;
            flex-direction: row;
            gap: 24px;
        }
    }

    .textCard{
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 120% */
    }

    @media (min-width: 640px) {
        .textCard {
            font-size: 32px;
            line-height: 40px;
        }
    }

    @media (min-width: 1024px) {
        .textCard {
            font-size: 40px;
            line-height: 48px;
        }
    }

    .copyright{
        color: #FDFDFD;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px; /* 140% */
        letter-spacing: 0.2px;
        text-transform: uppercase;
    }

    @media (min-width: 640px) {
        .copyright {
            font-size: 16px;
            line-height: 24px;
        }
    }

    @media (min-width: 1024px) {
        .copyright {
            font-size: 20px;
            line-height: 28px;
        }
    }

    .logoTitle{
        color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 147.159% */
letter-spacing: 0.24px;
    }

    @media (min-width: 640px) {
        .logoTitle {
            font-size: 40px;
            line-height: 56px;
            letter-spacing: 0.4px;
        }
    }

    @media (min-width: 1024px) {
        .logoTitle {
            font-size: 60.929px;
            line-height: 89.663px;
            letter-spacing: 0.609px;
        }
    }


    .socialLinksText{
        color: var(--white, #FDFDFD);
text-align: left;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 133.333% */
letter-spacing: 0.12px;
    }

    @media (min-width: 640px) {
        .socialLinksText {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.14px;
        }
    }

    @media (min-width: 1024px) {
        .socialLinksText {
            text-align: right;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.18px;
        }
    }